.section-abertura-background {
    background-image: url('https://live.staticflickr.com/65535/54567177701_8e9a6fd8aa_b.jpg'); /* O caminho para sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; /* A imagem rola com a seção */
    /* background-attachment: fixed; */ /* <--- Esta linha causa o efeito de paralaxe */

    padding: 80px 20px;
    min-height: 400px; /* Garante altura suficiente para a imagem e conteúdo */
    margin: 0 auto 2rem;

    color: white; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Sombra para o texto se destacar */
}
.section-abertura-background h3 {
    color: #baafa7;
}
